/* General */
* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --lightest-cyan: #acfdff;
    --very-light-cyan: #85e0e1;
    --light-cyan: #4abebd;
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

body {
    background-color: var(--light-gray);
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: var(--cyan);
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.13rem;
}

.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 6rem;
    max-width: 43rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.09);
}

/* Box 1 */
.box-one h2 {
    color: var(--bright-yellow);
    padding-bottom: 0.8rem;
}

.box-one p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--grayish-blue);
    line-height: 1.8rem;
}

.box-one {
    background-color: white;
    padding: 3rem;
    border-radius: 0.6rem 0.6rem 0 0;
    width: 43rem;
    height: 15rem;
}

/* Box 2 */
.price-per-month {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}
.box-two button {
    background-color: var(--bright-yellow);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    padding: 1rem 5.5rem 1rem 5.5rem;
    border-style: none;
    border-radius: 5px;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.09);
}

#price {
    font-size: 2rem;
    font-weight: 700;
    padding-right: 0.8rem;
}

#per-month {
    color: var(--very-light-cyan);
}

.box-two h2, .box-three h2 {
    color: white;
    padding-bottom: 1rem;
}

.box-two p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

#box-two-description {
    padding-bottom: 1.8rem;
}

.box-two {
    background-color: var(--cyan);
    padding: 3rem;
    border-radius: 0 0 0 0.6rem;
    width: 21.5rem;
    height: 20rem;
}

/* Box 3 */
.box-three ul {
    list-style-type: none;
}

.box-three li {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--lightest-cyan);
    padding: 0.25rem 0 0.25rem 0;
}

.box-three {
    background-color: var(--light-cyan);
    padding: 3rem;
    border-radius: 0 0 0.6rem 0;
    width: 21.5rem;
    height: 20rem;
}

/* Attribution */
.attribution {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    color: var(--grayish-blue);
    margin-top: 1rem;
}

.attribution a {
    color: var(--cyan);
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
    .box-one {
        border-radius: 0.6rem 0.6rem 0 0;
        width: 21.5rem;
        height: auto;
    }

    .box-two {
        border-radius: 0 0 0 0;
    }

    .box-three {
        border-radius: 0 0 0.6rem 0.6rem;
    }
}